<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dimafon.tvhclient"
    android:versionCode="3"
    android:versionName="1.2" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="28" />

    <application
        android:name="com.dimafon.tvhclient.TVHClientApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/tvapp_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="android.app.default_searchable" android:value=".SearchActivity" />
        <activity
            android:name=".ChannelListActivity"
            android:label="@string/tvapp_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChannelDetailActivity"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dimafon.tvhclient.ChannelListActivity" />
        </activity>
        <activity
            android:name=".RecordDetailActivity"
            android:label="@string/title_record_detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dimafon.tvhclient.ChannelListActivity" />
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity
            android:name="com.dimafon.tvhclient.ExternalPlaybackActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.dimafon.tvhclient.PlaybackActivity"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".SearchActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dimafon.tvhclient.ChannelListActivity" />
        </activity>

        <service
            android:name="com.dimafon.tvhclient.htsp.HTSService"
            android:enabled="true" />
    </application>

</manifest>